<div
  class="dropdown ms-2 p-0 d-lg-flex justify-content-lg-center align-items-lg-center"
>
  <button
    class="p-0 rounded-circle"
    type="button"
    id="dropdownMenuButton1"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    aria-haspopup="true"
    aria-controls="dropdownMenuButton1"
  >
    <img
      class="rounded-circle d-block mx-auto"
      src="<%=`http://127.0.0.1:3000/${currentUser.image.replace(/\\/g, '/')}`%>"
      width="36"
    />
  </button>
  <ul
    class="dropdown-menu bg-dark"
    aria-labelledby="dropdownMenuButton1"
    role="menu"
  >
    <li>
      <a class="dropdown-item my-dropdown-item text-white" href="/logout"
        >Logout</a
      >
    </li>
  </ul>
</div>
