* {
  font-family: Inter, sans-serif;
}

@media screen and (min-width: 992px) {
  .my-nav-container {
    max-width: 1200px;
  }

  .my-dropdown-item:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}
